$primary: #11998e;
$secondary: #38ef7d;
$mint: #c5fad5;
$lime: #ffffd2;

//## Base css ----------------------------------------

* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: $mint;
  overflow: hidden;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
section.header {
  width: 100%;
  min-height: 5%;
  margin-bottom: auto;
  background-color: $lime;

  .header-center {
    max-width: 1024px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
      font-size: 2rem;
      margin: 15px;
      flex: 2;
    }
    & h3 {
      font-size: 1.5rem;
      margin: 15px;
      cursor: pointer;
    }
  }
}

.main-section {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: inset 0px 5px 4px 0px $secondary;
}

//## Login ------------------------------------------

.login-window {
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  height: 50%;
  max-height: 300px;
  background-color: $lime;
  box-shadow: -9px 9px 11px 4px $secondary;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}

.login-input {
  width: 50%;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  text-align: center;
  border: 0;
  border-bottom: 2px solid black;
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-size: 1rem;
    padding-left: auto;
    padding-right: auto;
    color: black;
  }
}
.input-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-error {
    margin-top: 10px;
    font-size: 1rem;
    color: red;
    transition: 0.5s;
  }
}
.login-btn {
  position: relative;
  font-size: 1rem;
  width: 20%;
  height: 100%;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
  transition-duration: 0.4s;
  &:hover {
    transition-duration: 0.1s;
    background-color: $mint;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
    box-shadow: 0 0 10px 20px $mint;
  }
  &:active:after {
    box-shadow: 0 0 0 0 $mint;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
  }
  &:active {
    top: 1px;
  }
}
//## Scoreboard -----------------------------------

.scoreboard-window {
  width: 90%;
  max-width: 1024px;
  height: 80%;
  background-color: transparent;
  justify-content: center;
}
.scoreboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.scoreboard-info {
  & p {
    margin: 15px;
    padding: 8px;
    font-size: 1.5rem;
    background-color: $lime;
    box-shadow: 0px 2px 8px 3px $secondary;
    border: 1px solid black;
    border-radius: 5px;
    cursor: default;
  }
}

#scoreboard-select {
  width: 40%;
  text-align: center;
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 5px;
  background-color: $lime;
  outline: none;
  box-shadow: 0px 5px 10px 3px $secondary;
  cursor: pointer;
}

//## Minigames -------------------------------------

.minigames-section {
  width: 90%;
  max-width: 1024px;
  height: 80%;
  background-color: transparent;
}

.minigames-collection {
  width: 100%;
  height: 100%;
  min-width: 450px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.minigame-box {
  width: 90%;
  height: 10%;
  background-color: $lime;
  margin: 10px;
  box-shadow: 0px 5px 10px 3px $secondary;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minigame-icon {
  flex: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.minigame-info {
  flex: 3;
}

.btn-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.minigame-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.fa-arrow-right-long {
  transform: scale(1.23);

  &:hover {
    transform: scale(1.53);
  }
  &:active {
    transform: scale(1.14);
  }
}

.show-minigames {
  height: 100%;
}

.play-minigames {
  width: 100%;
  height: 97%;
  min-width: 520px;
  box-shadow: inset 0px 0px 11px 6px $secondary;

  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.return-to-collection {
  height: 3%;
  margin-bottom: 20px;
  margin-left: 20px;
  transform: scale(1.5);
  cursor: pointer;
}
.return-to-collection {
  &:hover {
    transform: scale(1.63);
  }
  &:active {
    transform: scale(1.44);
  }
}

.hide {
  display: none;
  transition: 0.5s;
}
